.banner{
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x: hidden;
    
}
.col-11{
    height: auto;
    gap: 20px;
}

.banner-content{
    flex-basis: 80%;
    height: 80vh;
}
p{
    margin-bottom: 0;
}
.banner-content h2{
    font-size: 2.8rem;
    font-weight: 500;
}

i{
    font-size: 10px;
}

.genres{
    gap: 10px;
}

.movie-type{
   gap: 16px;
}

.rate{
    font-size: 18px;
    font-weight: 700;
    gap: 10px;
}
.progress{
    width: 100px!important;
    height: 5px;
}
.progress-bar{
    background: rgba(3,37,65);
}

.trailer{
    gap: 8px;
}

.trailer i{
    font-size: 16px;
}

.overview h2{
    font-size: 22px;
    
}

.director{
   gap: 60px;
}

.director-content{
    flex-direction: column;
}
.banner-small{
    display: none!important;
    background: rgba(3,37,65);
    color: #fff;
}

.banner-top{
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.small-x{
    flex-direction: column;
}
.small-date{
    gap: 10px;
}
.smallgenres{
    margin-top: 5px;
    gap: 5px;
}
.smallgenres p{
    font-size: 14px;
}

@media screen and (max-width:500px){
    .banner{
        display: none!important;
    }
    .banner-small{
        display: block!important;
    }
    
}