@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

.similar h3{
    font-family: 'Castoro Titling', cursive;
}

.similar .media-scroller{
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 10%;
    overflow-x: scroll;
   
}

.similar img{
    width: 100%;
}

@media screen and (max-width: 500px) {
    .similar .media-scroller{
        grid-auto-columns: 40%;
    }
}